:root {
  --primary: #ff4545;
  --bg: #010100;
}

* {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-bottom: 1, 7px solid #010100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  border: 1px solid var(--primary);
}

.navbar .navbar-first {
  margin-left: 10rem;
}

.navbar .navbar-second {
  margin-right: 10rem;
}

.navbar .navbar-first a,
.navbar-second a {
  display: inline-block;
  margin: 0 1rem;
  color: #fff;
  font-size: 2rem;
}

.navbar .navbar-first a:hover,
.navbar-second a:hover {
  color: var(--bg);
}

.navbar .navbar-judul {
  height: 100px;
  width: 100px;
}
/* Test Fitur */
.navbar .navbar-first .click-drop {
  margin-top: 1rem;
}
.navbar .navbar-first .click-drop a {
  display: grid;
  font-size: 1rem;
  margin-left: 10rem;
}

/* Test fitur */

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-left: 1rem;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: var(--primary);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: grey;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.mobile-nav a:hover {
  background-color: var(--primary);
  color: #010100;
}

.hero {
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10rem;
}
.hero .row-info h1 {
  color: #010100;
  font-size: 5rem;
  margin-top: 10rem;
}

.hero .row-info p {
  color: #010100;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.hero .row-info .row-btn {
  margin-top: 2rem;
}

.hero .row-info .row-btn a {
  margin-left: 1rem;
  border: 1px solid #010100;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  color: #010100;
  font-size: 1.3rem;
}

.hero .row-info .row-btn a:hover {
  color: var(--primary);
}

.hero .row-info .row-btn p {
  color: #010100;
  margin-top: 5rem;
  font-size: 1.2rem;
}

.hero .row-info .row-btn span {
  color: var(--primary);
}

.hero img {
  width: 35rem;
  height: 35rem;
  margin-left: 15rem;
}

.hero .row-think {
  margin-top: 3rem;
  margin-left: 35rem;
}
.hero .row-think img {
  height: 5rem;
  width: 5rem;
}

.hero .row-think h2 {
  color: #010100;
  margin-left: 12rem;
}

.hero .row-think p {
  color: #010100;
  margin-left: 7.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.karya {
  margin-top: 13rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
}

.karya .flex-judul {
  display: flex;
}
.karya .flex-judul .block {
  background-color: var(--primary);
  height: 3.2rem;
  width: 0.5rem;
}

.karya h2 {
  color: #010100;
  font-size: 3rem;
  margin-left: 2rem;
}
.row-karya-tulis {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.karya .row-karya {
  margin-left: 7rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.row-karya-tulis .row-karya .block-1 {
  background-color: var(--primary);
  opacity: 0.8;
  border: 1px solid #010100;
  width: 25rem;
  height: 20rem;
}

.row-karya-tulis .row-karya .row-karya-satuan {
  border: 1px solid #010100;
  background-color: #fff;
  opacity: 0.9;
  margin-top: -17rem;
  margin-left: -2rem;
  width: 25rem;
  height: 20rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.row-karya-tulis .row-karya .row-karya-satuan:hover {
  transform: scale(1.1);
}

.row-karya-tulis .row-karya h1 {
  color: #010100;
}

.row-karya-tulis .row-karya p {
  color: #010100;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis {
  display: flex;
  margin-top: 4rem;
}

.row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 2rem;
}

.row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis p {
  margin-left: 1rem;
}

.karya-video {
  margin-top: 10rem;
  margin-left: 10rem;
}
.karya-video .flex-judul-video {
  display: flex;
}

.karya-video .flex-judul-video .block-2 {
  background-color: var(--primary);
  height: 3.2rem;
  width: 0.5rem;
}

.karya-video .flex-judul-video h2 {
  color: #010100;
  font-size: 3rem;
  margin-left: 2rem;
}

.karya-video .row-video-satuan video {
  margin: 2.5rem;
  margin-left: 4rem;
}

.karya-video .row-video-satuan {
  margin-right: 5rem;
}

.row-video {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 3rem;
}

.fotter {
  margin-top: 10rem;
}

.fotter .block-fotter {
  width: 119rem;
  height: 0.1rem;
  background-color: #010100;
}

.fotter .row-fotter {
  margin-top: 5rem;
  margin-left: 5rem;
  display: flex;
}

.fotter .row-fotter .row-about {
  display: grid;
}

.fotter .row-fotter .row-about h1 {
  color: #010100;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.fotter .row-fotter .row-about a {
  color: #010100;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  margin-left: 5rem;
}

.fotter .row-fotter .row-contact h1 {
  color: #010100;
  margin-left: 5rem;
  margin-bottom: 3.2rem;
}

.fotter .row-fotter .row-contact p {
  color: #010100;
  margin-left: 5rem;
  font-size: 1.5rem;
}

.fotter .row-fotter .row-contact p {
  margin-top: 0.8rem;
}

.fotter .row-fotter .row-about a:hover {
  color: var(--primary);
}

.fotter .row-fotter .row-email h1 {
  color: #010100;
  margin-left: 10rem;
}

.fotter .row-fotter .row-email input {
  margin-top: 2rem;
  width: 25rem;
  height: 10rem;
  background-color: transparent;
  border: 1px solid #010100;
  border-radius: 10px;
  margin-left: 10rem;
  font-size: 1.2rem;
}

.fotter .row-fotter .row-email a {
  background-color: transparent;
  border: 1px solid #010100;
  color: #010100;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.fotter .row-fotter .row-logo img {
  width: 15rem;
  height: 15rem;
  margin-left: 12rem;
}

.fotter .row-fotter .row-email a:hover {
  color: var(--primary);
}

@media screen and (max-width: 550px) {
  .navbar {
    display: none;
  }

  .mobile-nav img {
    height: 50px;
    width: 50px;
    margin-left: 10.5rem;
    margin-top: 2rem;
  }

  .hero {
    margin-top: -4rem;
    margin-left: 1rem;
  }
  .hero .row-info h1 {
    font-size: 1.6rem;
    margin-left: 2.3rem;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  .hero .row-info h1 span {
    color: var(--primary);
  }

  .hero .row-info p {
    font-size: 1rem;
    width: 200px;
    margin-top: 5rem;
  }

  .hero .row-info .row-btn {
    margin-left: -1rem;
  }

  .hero .row-info .row-btn a {
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem 0.5rem;
    background-color: transparent;
    border: 0.1px solid #010100;
  }

  .hero .row-info .row-btn a:hover {
    background-color: var(--primary);
    color: #010101;
  }

  .hero .row-info .row-btn p {
    display: none;
  }

  .hero img {
    width: 100px;
    height: 100px;
    margin-left: 15rem;
    margin-top: -7.2rem;
  }

  .hero .row-think {
    margin-left: -1.6rem;
    margin-top: 10rem;
  }
  .hero .row-think img {
    display: none;
  }

  .hero .row-think h2 {
    font-size: 1rem;
    margin-left: 8rem;
  }

  .hero .row-think p {
    font-size: 1rem;
    width: 13rem;
    text-align: center;
    word-spacing: 0.2rem;
    margin-left: 5.5rem;
  }

  .karya {
    margin-left: 1.4rem;
  }
  .karya .flex-judul .block {
    height: 2rem;
  }

  .karya .flex-judul h2 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }

  .karya .row-karya {
    justify-content: center;
    margin-bottom: 5rem;
    margin-left: 4.4rem;
  }

  .row-karya-tulis .row-karya .block-1 {
    background-color: var(--primary);
    opacity: 0.8;
    border: 1px solid #010100;
    width: 13rem;
    height: 13rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan {
    border: 1px solid #010100;
    background-color: #fff;
    opacity: 0.9;
    margin-top: -17rem;
    margin-left: -2rem;
    width: 13rem;
    height: 13rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: -10rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan:hover {
    transform: scale(1.1);
  }

  .row-karya-tulis .row-karya h1 {
    color: #010100;
    font-size: 0.8rem;
    margin-left: -0.8rem;
    width: 30rem;
  }

  .row-karya-tulis .row-karya p {
    color: #010100;
    margin-top: 2rem;
    font-size: 1rem;
    width: 6rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis {
    display: flex;
    margin-top: -1rem;
    margin-left: -0.3rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis p {
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  .karya-video {
    margin-top: 10rem;
    margin-left: 2rem;
  }
  .karya-video .flex-judul-video {
    display: flex;
  }

  .karya-video .flex-judul-video .block-2 {
    background-color: var(--primary);
    height: 2rem;
    width: 0.5rem;
  }

  .karya-video .flex-judul-video h2 {
    color: #010100;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.3rem;
  }

  .karya-video .row-video-satuan {
    margin-top: 1.3rem;
  }

  .karya-video .row-video-satuan video {
    margin: 2.5rem;
    height: 10rem;
    width: 20rem;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
  }

  .karya-video .row-video-satuan {
    margin-right: 5rem;
  }

  .row-video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 3rem;
  }

  .fotter .block-fotter {
    width: 24rem;
  }

  .fotter .row-fotter .row-about {
    margin-left: -1rem;
  }
  .fotter .row-fotter .row-about h1 {
    font-size: 1.5rem;
    width: 10rem;
    margin-left: -1rem;
    margin-bottom: 0.1rem;
  }

  .fotter .row-fotter .row-about a {
    margin-left: -1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .fotter .row-fotter .row-contact {
    margin-left: 0.4rem;
  }
  .fotter .row-fotter .row-contact h1 {
    font-size: 1.5rem;
    width: 10rem;
    margin-left: -1rem;
    margin-bottom: 1.7rem;
  }

  .fotter .row-fotter .row-contact p {
    margin-left: -1rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }

  .fotter .row-logo img {
    display: none;
  }

  .fotter .row-fotter .row-email {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 551px) {
  .navbar {
    display: none;
  }

  .mobile-nav img {
    height: 200px;
    width: 200px;
    margin-left: 19rem;
    margin-top: 10rem;
  }

  .mobile-nav {
    margin-top: 1rem;
  }
  .mobile-nav a {
    font-size: 2rem;
    width: 30rem;
    height: 4rem;
  }

  .hamburger .bar .data-menu {
    height: 5rem;
    width: 4rem;
    margin-left: 2rem;
  }

  .hero .row-info {
    margin-top: -15rem;
    margin-left: -6rem;
  }

  .hero .row-info h1 {
    font-size: 2.5rem;
  }

  .hero .row-info p {
    width: 20rem;
  }

  .hero .row-info .row-btn {
    margin-top: 4rem;
  }

  .hero .row-info .row-btn p {
    width: 25rem;
    font-size: 1.5rem;
    margin-top: 6rem;
  }

  .hero img {
    width: 18rem;
    height: 18rem;
    margin-top: -30.5rem;
    margin-left: 22rem;
  }

  .hero .row-think {
    margin-top: 13rem;
  }
  .hero .row-think img {
    display: none;
  }

  .hero .row-think h2 {
    font-size: 2rem;
    margin-left: -27.5rem;
  }

  .hero .row-think p {
    margin-left: -30.5rem;
    font-size: 2rem;
    width: 20rem;
    word-spacing: 0.5rem;
    text-align: center;
  }

  .karya .flex-judul {
    margin-left: -6rem;
  }

  .row-karya-tulis .row-karya .block-1 {
    background-color: var(--primary);
    opacity: 0.8;
    border: 1px solid #010100;
    width: 30rem;
    height: 25rem;
  }

  .row-karya-tulis {
    margin-left: -5rem;
  }
  .row-karya-tulis .row-karya .row-karya-satuan {
    border: 1px solid #010100;
    background-color: #fff;
    opacity: 0.9;
    margin-top: -17rem;
    margin-left: -2rem;
    width: 30rem;
    height: 25rem;
    padding-top: 1rem;
    padding-left: 2rem;
    margin-top: -20rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan h1 {
    font-size: 2.5rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan p {
    font-size: 2.6rem;
    margin-top: 2.4rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis {
    margin-top: 2rem;
  }

  .row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis img {
    width: 50px;
    height: 50px;
  }

  .row-karya-tulis .row-karya .row-karya-satuan .row-info-penulis p {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .karya-video .flex-judul-video {
    margin-left: -6rem;
  }

  .karya-video .row-video .row-video-satuan {
    margin-top: 2rem;
  }

  .fotter .block-fotter {
    width: 52rem;
  }

  .fotter .row-fotter {
    margin-left: 11rem;
  }

  .fotter .row-fotter .row-about {
    margin-left: -1rem;
  }
  .fotter .row-fotter .row-about h1 {
    font-size: 2rem;
    width: 20rem;
    margin-left: -1rem;
    margin-bottom: 0.1rem;
  }

  .fotter .row-fotter .row-about a {
    margin-left: -1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .fotter .row-fotter .row-contact {
    margin-left: 2rem;
  }
  .fotter .row-fotter .row-contact h1 {
    font-size: 2rem;
    width: 20rem;
    margin-left: -1rem;
    margin-bottom: 1.7rem;
  }

  .fotter .row-fotter .row-contact p {
    margin-left: -1rem;
    font-size: 1.5rem;
    margin-top: 1.6rem;
  }

  .fotter .row-fotter .row-email {
    display: none;
  }

  .fotter .row-fotter .row-logo img {
    display: none;
  }
}
