:root {
  --primary: #ff4545;
  --bg: #010100;
}

* {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-bottom: 1, 7px solid #010100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  border: 1px solid var(--primary);
}

.navbar .navbar-first {
  margin-left: 10rem;
}

.navbar .navbar-second {
  margin-right: 10rem;
}

.navbar .navbar-first a,
.navbar-second a {
  display: inline-block;
  margin: 0 1rem;
  color: #fff;
  font-size: 2rem;
}

.navbar .navbar-first a:hover,
.navbar-second a:hover {
  color: var(--bg);
}

.navbar .navbar-judul {
  height: 100px;
  width: 100px;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-left: 1rem;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: var(--primary);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: grey;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.mobile-nav a:hover {
  background-color: var(--primary);
  color: #010100;
}

.hero {
  margin-top: 15rem;
  margin-left: 10rem;
}

.hero .hero-judul {
  display: flex;
}

.hero .hero-judul .block-judul {
  background-color: var(--primary);
  height: 3.2rem;
  width: 0.5rem;
}

.hero .hero-judul h1 {
  color: #010100;
  margin-left: 2rem;
  font-size: 3rem;
}

.hero .hero-info {
  margin-top: 1.2rem;
  margin-left: 2.8rem;
}

.hero .hero-info p {
  color: #010100;
  width: 25rem;
}

.click .info-click {
  margin-top: 3rem;
}

.click .info-click h1 {
  color: #010100;
}

.click .info-click .block2 {
  height: 0.5rem;
  width: 30rem;
  background-color: var(--primary);
  margin-top: 2rem;
}

.row-info {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-left: -4rem;
}

.row-info .row-info-satuan {
  display: flex;
  margin-left: 6rem;
}

.row-info .row-info-satuan .block-img {
  height: 10rem;
  width: 20rem;
  background-color: #ff4545;
}

.row-info .row-info-satuan .block-img img {
  height: 14rem;
  width: 20rem;
  border: 1px solid #010100;
}

.row-info .row-info-satuan .block-img img:hover {
  transform: scale(1);
}

.row-info-satuan-text {
  background-color: #fff;
  border: 1px solid #010100;
  margin-left: -20rem;
  margin-top: 9rem;
  height: 15rem;
  width: 20rem;
  margin-bottom: 2rem;
}

.row-info .row-info-satuan .row-info-satuan-text h1 {
  color: #010100;
  margin-left: 1rem;
}

.row-info .row-info-satuan .row-info-satuan-text .tgl {
  color: #010100;
  margin-top: 1rem;
  margin-left: 2rem;
}

.row-info .row-info-satuan .row-info-satuan-text p {
  color: #010100;
  margin-left: 2rem;
  margin-top: 1rem;
}

.fotter {
  margin-top: 10rem;
}

.fotter .block-fotter {
  width: 119rem;
  height: 0.1rem;
  background-color: #010100;
}

.fotter .row-fotter {
  margin-top: 5rem;
  margin-left: 5rem;
  display: flex;
}

.fotter .row-fotter .row-about {
  display: grid;
}

.fotter .row-fotter .row-about h1 {
  color: #010100;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.fotter .row-fotter .row-about a {
  color: #010100;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  margin-left: 5rem;
}

.fotter .row-fotter .row-contact h1 {
  color: #010100;
  margin-left: 5rem;
  margin-bottom: 3.2rem;
}

.fotter .row-fotter .row-contact p {
  color: #010100;
  margin-left: 5rem;
  font-size: 1.5rem;
}

.fotter .row-fotter .row-contact p {
  margin-top: 0.8rem;
}

.fotter .row-fotter .row-about a:hover {
  color: var(--primary);
}

.fotter .row-fotter .row-email h1 {
  color: #010100;
  margin-left: 10rem;
}

.fotter .row-fotter .row-email input {
  margin-top: 2rem;
  width: 25rem;
  height: 10rem;
  background-color: transparent;
  border: 1px solid #010100;
  border-radius: 10px;
  margin-left: 10rem;
  font-size: 1.2rem;
}

.fotter .row-fotter .row-email a {
  background-color: transparent;
  border: 1px solid #010100;
  color: #010100;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.fotter .row-fotter .row-email a:hover {
  color: var(--primary);
}

.fotter .row-fotter .row-logo img {
  width: 15rem;
  height: 15rem;
  margin-left: 12rem;
}

@media (max-width: 550px) {
  .navbar {
    display: none;
  }

  .mobile-nav img {
    height: 50px;
    width: 50px;
    margin-left: 10.5rem;
    margin-top: 2rem;
  }

  .hero {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .hero .hero-judul .block-judul {
    height: 2rem;
  }

  .hero .hero-judul h1 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
  }

  .hero .hero-info p {
    width: 18rem;
    font-size: 0.8rem;
    margin-left: -0.7rem;
  }

  .click .info-click h1 {
    font-size: 1rem;
  }

  .click .info-click .block2 {
    width: 20rem;
  }

  .row-info {
    margin-left: -5rem;
  }

  .fotter .block-fotter {
    width: 24rem;
  }

  .fotter .row-fotter .row-about {
    margin-left: -1rem;
  }
  .fotter .row-fotter .row-about h1 {
    font-size: 1.5rem;
    width: 10rem;
    margin-left: -1rem;
    margin-bottom: 0.1rem;
  }

  .fotter .row-fotter .row-about a {
    margin-left: -1rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .fotter .row-fotter .row-contact {
    margin-left: 0.4rem;
  }
  .fotter .row-fotter .row-contact h1 {
    font-size: 1.5rem;
    width: 10rem;
    margin-left: -1rem;
    margin-bottom: 1.7rem;
  }

  .fotter .row-fotter .row-contact p {
    margin-left: -1rem;
    font-size: 1rem;
    margin-top: 1.6rem;
  }

  .fotter .row-logo img {
    display: none;
  }

  .fotter .row-fotter .row-email {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 551px) {
  .navbar {
    display: none;
  }

  .mobile-nav img {
    height: 200px;
    width: 200px;
    margin-left: 19rem;
    margin-top: 10rem;
  }

  .mobile-nav {
    margin-top: 1rem;
  }
  .mobile-nav a {
    font-size: 2rem;
    width: 30rem;
    height: 4rem;
  }

  .hamburger .bar .data-menu {
    height: 5rem;
    width: 4rem;
    margin-left: 2rem;
  }

  .hero {
    margin-top: 7rem;
    margin-left: 4.5rem;
  }
  .fotter .block-fotter {
    width: 52rem;
  }

  .fotter .row-fotter {
    margin-left: 11rem;
  }

  .fotter .row-fotter .row-about {
    margin-left: -1rem;
  }
  .fotter .row-fotter .row-about h1 {
    font-size: 2rem;
    width: 20rem;
    margin-left: -1rem;
    margin-bottom: 0.1rem;
  }

  .fotter .row-fotter .row-about a {
    margin-left: -1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .fotter .row-fotter .row-contact {
    margin-left: 2rem;
  }
  .fotter .row-fotter .row-contact h1 {
    font-size: 2rem;
    width: 20rem;
    margin-left: -1rem;
    margin-bottom: 1.7rem;
  }

  .fotter .row-fotter .row-contact p {
    margin-left: -1rem;
    font-size: 1.5rem;
    margin-top: 1.6rem;
  }

  .fotter .row-fotter .row-email {
    display: none;
  }

  .fotter .row-fotter .row-logo img {
    display: none;
  }
}
